html, body {
    width: 100%; height: 100%;
    min-width: 380px;
    min-height: 480px;
    padding: 0; margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.erpChat-empList-head {
    width: 100%;
    height: 35px;
    background-color: white;
    padding: 0; margin: 0;
    align-items: center;
}

.erpChat-empList-title {
    width: 100%;
    height: 55px;
    background-color: rgb(208, 255, 113);
    padding: 1%; margin: 0;
    align-items: center;
}
.erpChat-empList-title select {
	background-color: transparent;
	color: dimgray;	
	border: none;
}
.erpChat-empList-title option {
	background-color: transparent;
	color: dimgray;	
	border: none;
}
.erpChat-empList-title input {
	width: 200px;
    height: 100%;
    resize: none;
    background-color: transparent;
    border: none; outline: none;
}
.erpChat-empList-searchBar {
	width: 300px;
	height: 25px;
	padding: 3%; margin: 0;
	background-color: limegreen;
	border-radius: 3px;
}

.erpChat-empList-main {
    width: 100%;
    height: 390px;
    background-color: rgb(208, 255, 113);
    padding: 1%; margin: 0;
    align-items: center;
    font-size: small;

    overflow: scroll; /* 또는 overflow: auto; */
    overflow-x: hidden;
}

#empList-empListBtn {
    background-color: rgb(208, 255, 113);
    border: 1px solid rgb(208, 255, 113);
    color: dimgray;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    width: 75px; height: 35px;
}
#empList-empListBtn:hover {
    font-weight: bold;
    color: red;
}

#empList-chatListBtn {
    background-color:limegreen;
    border: 1px solid limegreen;
    color: dimgray;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    width: 75px; height: 35px;
}
#empList-chatListBtn:hover {
    font-weight: bold;
    color: red;
}

.erpChat-friendList-team {
	width: 120px;
}
.erpChat-friendList-name {
	width: 70px;
}
.erpChat-friendList-position {
	width: 50px;
}