<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>고객등급조회</title>

    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/webdesign/assets/css/main.css" />
    <link rel="stylesheet" href="/css/c/customer.css" />
  </head>
  <body>
    <div id="list_wrapper">
      <div id="main">
        <table>
          <thead>
            <tr>
              <th class="csgrade_title">
                <span>고객등급조회</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="items">
              <td>
                <article class="post" th:each="csgrade_item : ${csgrade_list}">
                  <header>
                    <div class="title">
                      <h2>[[${csgrade_item.csgrade_name}]]</h2>
                      <p>등급기준금액 : [[${csgrade_item.csgrade_price}]] 원</p>
                      <p class="hidden">[[${csgrade_item.csgrade_no}]]</p>
                    </div>
                  </header>
                  <p class="content"></p>
                  <footer>
                    <ul class="actions">
                      <li>
                        <button class="button large csgrade_type_select_btn">
                          SELECT
                        </button>
                      </li>
                    </ul>
                  </footer>
                </article>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="/webdesign/assets/js/jquery.min.js"></script>
    <script src="/webdesign/assets/js/browser.min.js"></script>
    <script src="/webdesign/assets/js/breakpoints.min.js"></script>
    <script src="/webdesign/assets/js/util.js"></script>
    <script src="/webdesign/assets/js/main.js"></script>
    <script src="/js/c/c4/csgrade_list.js"></script>
  </body>
</html>
