<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ERP lab 행사</title>
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/webdesign/assets/css/main.css"/>
        <link rel="stylesheet" href="/css/c/event.css" />
    </head>
    <body>
		<th:block th:insert="~{thymeleaf/common/header::header}"></th:block>

        <div class="event_container">
            <h2 class="event_title"><a th:href="@{/c/c3/c33/event}">행사관리</a></h2>
            <div class="event_body">
                <div class="event_regist">
					<table class="event_search">
						<tr>
							<td>
								<select name="search_type" id="search_type">
									<option value="all" selected}>전체</option>
									<option value="event_no">코드</option>
									<option value="event_code">행사코드</option>
									<option value="event_name">행사명</option>
									<option value="event_start">행사시작일</option>
									<option value="event_end">행사종료일</option>
									<option value="event_period">행사기간</option>
									<option value="goods_no">상품코드</option>
									<option value="goods_name">상품명</option>
									<option value="event_price">단가</option>
									<option value="event_qty">행사수량</option>
									<option value="event_tax">세액</option>
									<option value="event_total">합계</option>
									<option value="event_manager">담당자</option>
								</select>
							</td>
							<td>
								<input type="text" id="search_word" name="word" placeholder="검색어를 입력하세요" autocomplete="off">
								<input type="button" value="전체목록" id="list_reset">
							</td>
						</tr>
					</table>
					<table id="search_result">
                    <table class="event_list">
                        <tr class="event_top">
							<th class="hidden">행사코드</th>
                            <th class="sec1">행사명</th>
                            <th class="sec2">행사기간(일)</th>
                            <th class="sec3">상품코드</th>
                            <th class="sec4">담당자</th>
                        </tr>
                        <tr class="event_items" th:each="event_item : ${event_list}">
							<td class="hidden">[[${event_item.event_no}]]</td>
                            <td>[[${event_item.event_name}]]</td>
                            <td>[[${event_item.event_period}]]</td>
                            <td>[[${event_item.goods_no}]]</td>
                            <td>[[${event_item.event_manager}]]</td>
                        </tr>
                    </table>
                </div>
                
                <hr class="vertical_line">
                
                <div class="regits_form">
					<div class="warning_box">
						<span class="red bigger">* </span>
						<div class="yellow_box"></div>
						<span class="red">는 필수 입력란입니다.</span>
					</div>
                    <form th:action="@{/c/c33/event}" method="post" id="event_frm">
						<div class="sec">
							<button type="button" id="addRow_btn">행추가</button>
							<button type="button" id="delRow_btn">행삭제</button>
						</div>
						
						<table class="item_list_result">
							 <tr>
								<th class="sec1">조회</th>
								<th class="hidden">코드</th>
								<th class="hidden">코드명</th>
								<th class="sec2">로트코드</th>
	                            <th class="sec3">수량</th>
	                            <th class="sec4">원가</th>
	                            <th class="sec5">세액</th>
	                            <th class="sec6">총원가</th>
	                            <th class="hidden">상품코드</th>
	                            <th class="sec7">품목삭제</th>
	                        </tr>
                        	<th:block th:if="${salesgoods_list!= null}">
								<tr class="list_result_items" th:each="salesgoods_item : ${salesgoods_list}">
									<td><button type="button" class="list_result_btn" id="list_result_search">SEARCH</button></td>
									<td class="hidden"><input type="hidden" name="salesgoods_no" th:value="${salesgoods_item.salesgoods_no}" /></td>
									<td class="hidden"><input type="hidden" name="salesgoods_code" th:value="${salesgoods_item.salesgoods_code}" /></td>
		                            <td><input type="text" name="goodslot_no" th:value="${salesgoods_item.goodslot_no}" /></td>
		                            <td><input type="number" name="salesgoods_qty" th:value="${salesgoods_item.salesgoods_qty}" /></td>
		                            <td><input type="number" name="salesgoods_price" th:value="${salesgoods_item.salesgoods_price}" /></td>
		                            <td><input type="number" name="salesgoods_tax" th:value="${salesgoods_item.salesgoods_tax}" /></td>
		                            <td><input type="number" name="salesgoods_total" th:value="${salesgoods_item.salesgoods_total}" /></td>
		                            <td class="hidden"><input type="hidden" name="goods_no" th:value="${salesgoods_item.goods_no}" /></td>
		                            <td><button type="button" class="list_result_btn" id="list_result_del_prev" onClick="prev_salesgoods_del()">품목삭제</button></td>
								</tr>
							</th:block>
							<th:block th:if="${salesgoods_list == null}">
								<tr class="list_result_items order0">
									<td><button type="button" class="list_result_btn" id="list_result_search0">SEARCH</button></td>
									<td class="hidden"><input type="hidden" name="salesgoods_no" id="salesgoods_no0"/></td>
									<td class="hidden"><input type="hidden" name="salesgoods_code" id="salesgoods_code0" /></td>
		                            <td><input type="text" name="goodslot_no" id="goodslot_no0" /></td>
		                            <td><input type="number" name="salesgoods_qty" id="salesgoods_qty" /></td>
		                            <td><input type="number" name="salesgoods_price" id="salesgoods_price0" /></td>
		                            <td><input type="number" name="salesgoods_tax" id="salesgoods_tax0" /></td>
		                            <td><input type="number" name="salesgoods_total" id="salesgoods_total0" /></td>
		                            <td class="hidden"><input type="hidden" name="goods_no" id="goods_no0" /></td>
		                            <td><button type="button" class="list_result_btn" id="list_result_del0">품목삭제</button></td>
								</tr>
							</th:block>
						</table>
						<input type="hidden" name="event_no" id="event_no" th:value="${erp_EventVO?.event_no}"/>
						
						<div class="sec">
                            <label for="event_code">행사코드</label>
                            <input
                                type="text"
                                name="event_code"
                                id="event_code"
                                class="required"
                                th:value="${erp_EventVO?.event_code}"
                            />
                        </div>
						
                        <div class="sec">
                            <label for="event_name">행사명</label>
                            <input
                                type="text"
                                name="event_name"
                                id="event_name"
                                class="required"
                                th:value="${erp_EventVO?.event_name}"
                            />
                        </div>

                        <div class="sec">
                            <label for="event_start">행사시작일</label>
                            <input
                                type="date"
                                name="event_start"
                                id="event_start"
                                th:value="${erp_EventVO?.event_start}"
                            />
                        </div>

                        <div class="sec">
                            <label for="event_end">행사종료일</label>
                            <input
                                type="date"
                                name="event_end"
                                id="event_end"
                                th:value="${erp_EventVO?.event_end}"
                            />
                        </div>

                        <div class="sec">
                            <label for="event_period">행사기간(일)</label>
                            <input
                                type="text"
                                name="event_period"
                                id="event_period"
                                th:value="${erp_EventVO?.event_period}"
                            />
                        </div>

                        <div class="sec">
                            <label for="event_manager">담당자</label>
                            <input
                                type="text"
                                name="event_manager"
                                id="event_manager"
                                th:value="${erp_EventVO?.event_manager}"
                            />
                        </div>

                        <div class="sec">
                            <label for="event_remark">비고</label>
                            <input type="text" name="event_remark" id="event_remark" th:value="${erp_EventVO?.event_remark}"/>
                        </div>
                       
 						<div class="sec" id="new_btn_sec">
                            <button type="reset">RESET</button>
                            <button type="button" id="event_save_btn">SAVE</button>
                        </div>
                        <div class="sec" id="old_btn_sec">
							<button type="button" id="event_delete_btn">DELETE</button>
							<button type="button" id="event_update_btn">UPDAET</button>
						</div>
						
						<div id="errormsg" th:text="${error}"></div>
                    </form>
                </div>
            </div>
        </div>
        
		<th:block th:insert="~{thymeleaf/common/footer::footer}"></th:block>


     	<script src="/webdesign/assets/js/jquery.min.js"></script>
        <script src="/webdesign/assets/js/browser.min.js"></script>
        <script src="/webdesign/assets/js/breakpoints.min.js"></script>
        <script src="/webdesign/assets/js/util.js"></script>
        <script src="/webdesign/assets/js/main.js"></script>
        <script src="/js/c/c3/event.js"></script>
        <script th:inline="javascript">
			// 행사 리스트 검색 필터링 기능
			let search_filter = (type,word) => {
				if(word=="" || word==undefined || word==null) return null;
				let searched_list = [];
				let list = [[${event_list}]];
				
				for(let i = 0 ; i < list.length; i++){
					let json_data = JSON.stringify(list[i]);
					let key_value = json_data.replace("{", "").replace("}", "").replace(/"/gi, "").split(",");
					
					for(let j = 0 ; j < key_value.length; j++) {
						let key = key_value[j].split(":")[0];
						let value = key_value[j].split(":")[1];	
						if (type=="all") {
							if(value==word) searched_list.push(list[i]);
						}
						else {
							if(key==type && value==word) searched_list.push(list[i]);
						}
					}
				}
				return searched_list;
			}
			
			// 행사리스트중 행사 클릭시 데이터값 전달 함수
				let selected_vo = (tag) => {
				let list = [[${event_list}]];
				let vo_no = tag.innerHTML;
				for(let i = 0 ; i < list.length; i ++){
					if (list[i].event_no == vo_no){
						document.getElementById("event_no").value=list[i].event_no;
						document.getElementById("event_code").value=list[i].event_code;
						document.getElementById("event_name").value=list[i].event_name;
						document.getElementById("event_start").value=list[i].event_start;
						document.getElementById("event_end").value=list[i].event_end;
						document.getElementById("event_period").value=list[i].event_period;
						document.getElementById("goods_no").value=list[i].goods_no;
						document.getElementById("event_price").value=list[i].event_price;
						document.getElementById("event_qty").value=list[i].event_qty;
						document.getElementById("event_tax").value=list[i].event_tax;
						document.getElementById("event_total").value=list[i].event_total;
						document.getElementById("event_manager").value=list[i].event_manager;
						document.getElementById("event_remark").value=list[i].event_remark;	
					}
				}
			}
		</script>
    </body>
</html>
