<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품로트번호조회</title>

    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/webdesign/assets/css/main.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="main">
        <table>
          <thead>
            <tr>
              <th class="goodslot_title">
                <span>상품로트번호조회 [<span id="order_value">[[${order}]]</span>]</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="items">
              <td>          
                <article
                  class="post"
                  th:each="goodslot_item : ${goodslot_list}"
                >
                  <header>
                    <div class="title">
                      <h2>로트 : [[${goodslot_item.goodslot_lot}]]</h2>
                      <p>
						  수량 : [[${goodslot_item.goodslot_qty}]] <br/>
						  생산일자 : [[${goodslot_item.goodslot_production}]] <br/>
						  유통기한 : [[${goodslot_item.goodslot_expiry}]] <br/>
						  원가 : [[${goodslot_item.goodslot_price}]] <br/> 
						  세액 : [[${goodslot_item.goodslot_tax}]] <br/>
						  총원가 : [[${goodslot_item.goodslot_total}]] 
					  </p>
                      <p class="hidden">[[${goodslot_item.goodslot_no}]]</p>
                      <p class="hidden">[[${goodslot_item.goods_no}]]</p>
                    </div>
                  </header>
                  <p class="content"></p>
                  <footer>
                    <ul class="actions">
                      <li>
                        <button
                          class="button large goodslot_type_select_btn"
                        >
                          SELECT
                        </button>
                      </li>
                    </ul>
                  </footer>
                </article>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="/webdesign/assets/js/jquery.min.js"></script>
    <script src="/webdesign/assets/js/browser.min.js"></script>
    <script src="/webdesign/assets/js/breakpoints.min.js"></script>
    <script src="/webdesign/assets/js/util.js"></script>
    <script src="/webdesign/assets/js/main.js"></script>
    <script src="/js/c/c3/goodslot_list.js"></script>
  </body>
</html>
