<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ERP lab 온라인</title>
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/webdesign/assets/css/main.css"/>
        <link rel="stylesheet" href="/css/c/online.css" />
    </head>
    <body>
		<th:block th:insert="~{thymeleaf/common/header::header}"></th:block>

        <div class="online_container">
            <h2 class="online_title"><a th:href="@{/c/c3/c34/online}">온라인매출</a></h2>
            <div class="online_body">
                <div class="online_regist">
					<table class="online_search">
						<tr>
							<td>
								<select name="search_type" id="search_type">
									<option value="all" selected}>전체</option>
									<option value="online_no">코드</option>
									<option value="ctgr_no">카테고리코드</option>
									<option value="online_code">온라인매출코드</option>
									<option value="team_no">팀코드</option>
									<option value="online_date">매출일자</option>
									<option value="customer_no">고객정보코드</option>
									<option value="settletype_no">결제구분코드</option>	
								</select>
							</td>
							<td>
								<input type="text" id="search_word" name="word" placeholder="검색어를 입력하세요" autocomplete="off">
								<input type="button" value="전체목록" id="list_reset">
							</td>
						</tr>
					</table>
					<table id="search_result">
                    <table class="online_list">
                        <tr class="online_top">
							<th class="sec1">코드</th>
                            <th class="sec2">온라인매출코드</th>
                            <th class="sec3">매출일자</th>
                        </tr>
                        <tr class="online_items" th:each="online_item : ${online_list}">
							<td>[[${online_item.online_no}]]</td>
                            <td>[[${online_item.online_code}]]</td>
                            <td>[[${online_item.online_date}]]</td>
                        </tr>
                    </table>
                </div>
                
                <hr class="vertical_line">
                
                <div class="regits_form">
					<div class="warning_box">
						<span class="red bigger">* </span>
						<div class="yellow_box"></div>
						<span class="red">는 필수 입력란입니다.</span>
					</div>
                    <form th:action="@{/d/d5/d51/claim}" method="post" id="online_frm">
						<div class="sec">
							<button type="button" id="addRow_btn">행추가</button>
							<button type="button" id="delRow_btn">행삭제</button>
						</div>
						
						<table class="item_list_result">
							 <tr>
								<th class="sec1">조회</th>
								<th class="hidden">코드</th>
								<th class="hidden">코드명</th>
								<th class="sec2">로트코드</th>
	                            <th class="sec3">수량</th>
	                            <th class="sec4">원가</th>
	                            <th class="sec5">세액</th>
	                            <th class="sec6">총원가</th>
	                            <th class="hidden">상품코드</th>
	                            <th class="sec7">품목삭제</th>
	                        </tr>
                        	<th:block th:if="${salesgoods_list!= null}">
								<tr class="list_result_items" th:each="salesgoods_item : ${salesgoods_list}">
									<td><button type="button" class="list_result_btn" id="list_result_search">SEARCH</button></td>
									<td class="hidden"><input type="hidden" name="salesgoods_no" th:value="${salesgoods_item.salesgoods_no}" /></td>
									<td class="hidden"><input type="hidden" name="salesgoods_code" th:value="${salesgoods_item.salesgoods_code}" /></td>
		                            <td><input type="text" name="goodslot_no" th:value="${salesgoods_item.goodslot_no}" /></td>
		                            <td><input type="number" name="salesgoods_qty" th:value="${salesgoods_item.salesgoods_qty}" /></td>
		                            <td><input type="number" name="salesgoods_price" th:value="${salesgoods_item.salesgoods_price}" /></td>
		                            <td><input type="number" name="salesgoods_tax" th:value="${salesgoods_item.salesgoods_tax}" /></td>
		                            <td><input type="number" name="salesgoods_total" th:value="${salesgoods_item.salesgoods_total}" /></td>
		                            <td class="hidden"><input type="hidden" name="goods_no" th:value="${salesgoods_item.goods_no}" /></td>
		                            <td><button type="button" class="list_result_btn" id="list_result_del_prev" onClick="prev_salesgoods_del()">품목삭제</button></td>
								</tr>
							</th:block>
							<th:block th:if="${salesgoods_list == null}">
								<tr class="list_result_items order0">
									<td><button type="button" class="list_result_btn" id="list_result_search0">SEARCH</button></td>
									<td class="hidden"><input type="hidden" name="salesgoods_no" id="salesgoods_no0"/></td>
									<td class="hidden"><input type="hidden" name="salesgoods_code" id="salesgoods_code0" /></td>
		                            <td><input type="text" name="goodslot_no" id="goodslot_no0" /></td>
		                            <td><input type="number" name="salesgoods_qty" id="salesgoods_qty" /></td>
		                            <td><input type="number" name="salesgoods_price" id="salesgoods_price0" /></td>
		                            <td><input type="number" name="salesgoods_tax" id="salesgoods_tax0" /></td>
		                            <td><input type="number" name="salesgoods_total" id="salesgoods_total0" /></td>
		                            <td class="hidden"><input type="hidden" name="goods_no" id="goods_no0" /></td>
		                            <td><button type="button" class="list_result_btn" id="list_result_del0">품목삭제</button></td>
								</tr>
							</th:block>
						</table>
						
						<input type="hidden" name="online_no" id="online_no" th:value="${erp_OnlineVO?.online_no}"/>
						
            			<div class="sec">
                            <label for="ctgr_name">카테고리 조회</label>
                            <div class="ctgr_regist">
                                <input
                                    type="text"
                                    name="ctgr_name"
                                    id="ctgr_name"
                                    placeholder=" 우측 조회버튼으로 확인해주세요."
                                    class="required"
                                    readonly
                                    disabled
                                />
                               <button type="button" id="ctgrlist_search">                        
									<img th:src="@{/image/searchbtn_icon.png}" alt="search icon">
								</button>
                            </div>
                        </div>
                        
						<input type="hidden" name="ctgr_no" id="ctgr_no" th:value="${erp_OnlineVO?.ctgr_no}">

  						<div class="sec">
                            <label for="online_code">온라인매출코드</label>
                            <input
                                type="text"
                                name="online_code"
                                id="online_code"
                                class="required"
                                th:value="${erp_OnlineVO?.online_code}"
                            />
                        </div>

            			<div class="sec">
                            <label for="team_name">부서 조회</label>
                            <div class="team_regist">
                                <input
                                    type="text"
                                    name="team_name"
                                    id="team_name"
                                    placeholder=" 우측 조회버튼으로 확인해주세요."
                                    class="required"
                                    readonly
                                    disabled
                                />
                               <button type="button" id="teamlist_search">                        
									<img th:src="@{/image/searchbtn_icon.png}" alt="search icon">
								</button>
                            </div>
                        </div>
                        
						<input type="hidden" name="team_no" id="team_no" th:value="${erp_OnlineVO?.team_no}">

						<div class="sec">
                            <label for="online_date">일자</label>
                            <input
                                type="date"
                                name="online_date"
                                id="online_date"
                                th:value="${erp_OnlineVO?.online_date}"
                            />
                        </div>
                        
              			<div class="sec">
                            <label for="customer_name">고객정보조회</label>
                            <div class="customer_regist">
                                <input
                                    type="text"
                                    name="customer_name"
                                    id="customer_name"
                                    placeholder=" 우측 조회버튼으로 확인해주세요."
                                    class="required"
                                    readonly
                                    disabled
                                />
                               <button type="button" id="customerlist_search">                        
									<img th:src="@{/image/searchbtn_icon.png}" alt="search icon">
								</button>
                            </div>
                        </div>

						<input type="hidden" name="customer_no" id="customer_no" th:value="${erp_OnlineVO?.customer_no}">

                	

       		 			<div class="sec">
                            <label for="settletype_name">결제구분 조회</label>
                            <div class="settletype_regist">
                                <input
                                    type="text"
                                    name="settletype_name"
                                    id="settletype_name"
                                    placeholder=" 우측 조회버튼으로 확인해주세요."
                                    class="required"
                                    readonly
                                    disabled
                                />
                               <button type="button" id="settletypelist_search">                        
									<img th:src="@{/image/searchbtn_icon.png}" alt="search icon">
								</button>
                            </div>
                        </div>

						<input type="hidden" name="settletype_no" id="settletype_no" th:value="${erp_OnlineVO?.settletype_no}">
                       
 						<div class="sec" id="new_btn_sec">
                            <button type="reset">RESET</button>
                            <button type="button" id="online_save_btn">SAVE</button>
                        </div>
                        <div class="sec" id="old_btn_sec">
							<button type="button" id="online_delete_btn">DELETE</button>
							<button type="button" id="online_update_btn">UPDAET</button>
						</div>
						
						<div id="errormsg" th:text="${error}"></div>
                    </form>
                </div>
            </div>
        </div>

		<th:block th:insert="~{thymeleaf/common/footer::footer}"></th:block>

     	<script src="/webdesign/assets/js/jquery.min.js"></script>
        <script src="/webdesign/assets/js/browser.min.js"></script>
        <script src="/webdesign/assets/js/breakpoints.min.js"></script>
        <script src="/webdesign/assets/js/util.js"></script>
        <script src="/webdesign/assets/js/main.js"></script>
        <script src="/js/c/c3/online.js"></script>
        <script th:inline="javascript">
			// 설비/장비 리스트 검색 필터링 기능
			let search_filter = (type,word) => {
				if(word=="" || word==undefined || word==null) return null;
				let searched_list = [];
				let list = [[${online_list}]];
				
				for(let i = 0 ; i < list.length; i++){
					let json_data = JSON.stringify(list[i]);
					let key_value = json_data.replace("{", "").replace("}", "").replace(/"/gi, "").split(",");
					
					for(let j = 0 ; j < key_value.length; j++) {
						let key = key_value[j].split(":")[0];
						let value = key_value[j].split(":")[1];	
						if (type=="all") {
							if(value==word) searched_list.push(list[i]);
						}
						else {
							if(key==type && value==word) searched_list.push(list[i]);
						}
					}
				}
				return searched_list;
			}
			
			// 설비/장비리스트중 창고 클릭시 데이터값 전달 함수
			let selected_vo = (tag) => {
				let list = [[${online_list}]];
				let vo_no = tag.innerHTML;
				for(let i = 0 ; i < list.length; i ++){
					if (list[i].online_no == vo_no){
						document.getElementById("online_no").value=list[i].online_no;
						document.getElementById("ctgr_no").value=list[i].ctgr_no;
						document.getElementById("online_code").value=list[i].online_code;
						document.getElementById("team_no").value=list[i].team_no;
						document.getElementById("online_date").value=list[i].online_date;
						document.getElementById("customer_no").value=list[i].customer_no;
						document.getElementById("settletype_no").value=list[i].settletype_no;						
					}
				}
			}
		</script>
    </body>
</html>
