<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>결제구분조회</title>

    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/webdesign/assets/css/main.css" />
    <link rel="stylesheet" href="/css/c/salesresult.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="main">
        <table>
          <thead>
            <tr>
              <th class="settletype_title">
                <span>결제구분조회</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="items">
              <td>
                <article
                  class="post"
                  th:each="settletype_item : ${settletype_list}"
                >
                  <header>
                    <div class="title">
                      <h2>[[${settletype_item.settletype_type}]]</h2>
                      <p>
						  [[${settletype_item.settletype_condition}]]
					  </p>
                      <p class="hidden">[[${settletype_item.settletype_no}]]</p>
                    </div>
                  </header>
                  <p class="content"></p>
                  <footer>
                    <ul class="actions">
                      <li>
                        <button
                          class="button large settletype_type_select_btn"
                        >
                          SELECT
                        </button>
                      </li>
                    </ul>
                  </footer>
                </article>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="/webdesign/assets/js/jquery.min.js"></script>
    <script src="/webdesign/assets/js/browser.min.js"></script>
    <script src="/webdesign/assets/js/breakpoints.min.js"></script>
    <script src="/webdesign/assets/js/util.js"></script>
    <script src="/webdesign/assets/js/main.js"></script>
    <script src="/js/c/c3/settletype_list.js"></script>
  </body>
</html>
