.comp_container {
    padding: 2%;
    font-size : 10pt;
}

.comp_container > .comp_title {
	text-align: center;
}

.comp_container > .comp_body {
    display: flex;
    justify-content: space-between;
}

.comp_container > .comp_body > .comp_regist {
    width: 45%;
    height: 100%;
    overflow: hidden;
}

.comp_container > .comp_body > .vertical_line {
	height: 100vh;
	width: 0.075vw;
	border-width: 0;
	color: #000;
	background-color: rgba(160, 160, 160, 0.4);
}

.comp_container > .comp_body > .regits_form {
    width: 50%;
    height: 100%;
}

.comp_container > .comp_body > .regits_form .sec {
    display: flex;
    margin: 2%;
}

.comp_container > .comp_body > .regits_form .sec > #company_opendate{
	-moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(160, 160, 160, 0.075);
    border: none;
    border: solid 1px rgba(160, 160, 160, 0.3);
    border-radius: 0;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

.comp_container > .comp_body > .regits_form .sec > label {
    width: 40%;
}

.comp_container > .comp_body > .regits_form .sec > select {
	padding-right : 2rem;
}

.comp_container > .comp_body > .regits_form .sec > input:focus,
select:focus {
    border-color: #000b9e;
}

.comp_container > .comp_body > .regits_form button {
    border-color: #000b9e;
    height : 100%;
    width: 15%;
}

.comp_container > .comp_body > .regits_form .sec > .businesstype_comp {
	 width: 100%;
    display: flex;
    justify-content: space-between;
}

.comp_container > .comp_body > .regits_form .sec > .businesstype_comp > #businesstype_search {
	line-height : 0;
}

.comp_container > .comp_body > .regits_form .sec > .businesstype_comp > #businesstype_search > img{
	width: 25px;
	height: 25px;
}

.businesstype_title {
    font-size: 2rem;
    color: #000b9e;
    display: flex;
    justify-content: space-between;
}

#company_businesstype {
    width: 80%;
}

#list_wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    display: none;
    overflow-y: scroll;
}

.businesstype_title > .close_businesstype {
    width: 40px;
    height: 40px;
    border: none;
    padding: 0px;
    align-items: center;
    letter-spacing: 0;
    line-height: 0;
}

.post .content {
    font-size: 1.1rem;
}

.selected_comp_items{
	background-color: #FDECC5 !important;
	color : #000b9e;
	border-left : 1px solid #000b9e !important;
	border-right : 1px solid #000b9e !important; 
}

.hidden {
	visibility: hidden;
	position: fixed;
	top : -9999px;
	left: -9999px;
}

.warning_box {
	display:flex;
	justify-content: end;
}

.yellow_box {
	width: 25px;
	height : 15px;
	background-color: yellow;
	line-height : 10pt;
	margin-top : 2.5pt;
}

.red {
	font-size: 10pt;
	color: red;
}

.bigger {
	font-size : 13pt;
}

#old_btn_sec {
	display:none;
}

.required {
	background-color : lightyellow !important;
}
