<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ERP lab 회사정보</title>
        <link rel="stylesheet" href="/webdesign/assets/css/main.css"/>
        <link rel="stylesheet" href="/css/a/a_company.css" />
    </head>
    <body>
        <div class="comp_container">
            <h2 class="comp_title">회사등록</h2>
            <div class="comp_body">
                <div class="comp_regist">
                    <table class="comp_list">
                        <tr class="comp_top">
                            <th class="sec1">코드</th>
                            <th class="sec2">회사명</th>
                            <th class="sec3">구분</th>
                        </tr>
                        <tr class="comp_items" th:each="item : ${list}">
                            <td>[[${item.company_no}]]</td>
                            <td>[[${item.company_name}]]</td>
                            <td>[[${item.comptype_no}]]</td>
                        </tr>
                    </table>
                </div>
                <div class="regits_form">
                    <form action="#">
                        <div class="sec">
                            <label for="comptype_no">사업 형태 구분</label>
                            <select name="comptype_no" id="comptype_no">
                                <option value="1">회사</option>
                                <option value="2">사업장</option>
                                <option value="3">지점</option>
                            </select>
                        </div>

                        <div class="sec">
                            <label for="company_name">상호(회사명)</label>
                            <input
                                type="text"
                                name="company_name"
                                id="company_name"
                            />
                        </div>

                        <div class="sec">
                            <label for="company_registeredno"
                                >사업자등록번호</label
                            >
                            <input
                                type="text"
                                name="company_registeredno"
                                id="company_registeredno"
                            />
                        </div>

                        <div class="sec">
                            <label for="company_corporatedno"
                                >법인등록번호</label
                            >
                            <input
                                type="text"
                                name="company_corporatedno"
                                id="company_corporatedno"
                            />
                        </div>

                        <div class="sec">
                            <label for="company_representative">대표자성</label>
                            <input
                                type="text"
                                name="company_representative"
                                id="company_representative"
                            />
                        </div>

            			<div class="sec">
                            <label for="company_businesstype">사업형태</label>
                            <div class="businesstype_comp">
                                <input
                                    type="text"
                                    name="company_businesstype"
                                    id="company_businesstype"
                                    placeholder=" 우측 조회버튼으로 확인해주세요."
                                    readonly
                                />
                                <button id="businesstype_search">조회</button>
                            </div>
                        </div>


                        <div class="sec">
                            <label for="company_addr1">도로명주소</label>
                            <input
                                type="text"
                                name="company_addr1"
                                id="company_addr1"
                            />
                        </div>

                        <div class="sec">
                            <label for="company_addr2">상세주소</label>
                            <input
                                type="text"
                                name="company_addr2"
                                id="company_addr2"
                            />
                        </div>

                        <div class="sec">
                            <label for="company_postal">우편번호</label>
                            <input
                                type="text"
                                name="company_postal"
                                id="company_postal"
                            />
                        </div>

                        <div class="sec">
                            <label for="company_opendate"
                                >개업날짜(연/월/일)</label
                            >
                            <input
                                type="text"
                                name="company_opendate"
                                id="company_opendate"
                            />
                        </div>

                        <div class="sec">
                            <label for="company_use">용도</label>
                            <input
                                type="text"
                                name="company_use"
                                id="company_use"
                            />
                        </div>

                        <div class="sec">
                            <label for="company_foreign">외국인유무</label>
                            <select name="company_foreign" id="company_foreign">
                                <option value="0">없음(X)</option>
                                <option value="1">있음(O)</option>
                            </select>
                        </div>

                        <div class="sec">
                            <label for="company_directno">대표번호</label>
                            <input
                                type="text"
                                name="company_directno"
                                id="company_directno"
                            />
                        </div>

                        <div class="sec">
                            <label for="company_fax">팩스번호</label>
                            <input
                                type="text"
                                name="company_fax"
                                id="company_fax"
                            />
                        </div>

                        <div class="sec">
                            <label for="company_email">세금계산서이메일</label>
                            <input
                                type="text"
                                name="company_email"
                                id="company_email"
                            />
                        </div>

                        <div class="sec">
                            <button type="reset">RESET</button>
                            <button type="submit">SAVE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
          <div id="wrapper">
            <div id="main">
                <table>
                    <thead>
                        <tr>
                            <th class="businesstype_title">
                                <span>업종코드목록조회</span>
                                <button class="close_businesstype">X</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="items">
                            <td>
                                <article class="post">
                                    <header>
                                        <div class="title">
                                            <h2>세세분류명</h2>
                                            <p>
                                                대분류 > 중분류 > 세분류 >
                                                세세분류
                                            </p>
                                        </div>
                                    </header>
                                    <p class="content">
                                        업종코드 : NULL<br />
                                        적용 범위 및 기준 : <br />
                                        NULL
                                        <br />
                                    </p>
                                    <footer>
                                        <ul class="actions">
                                            <li>
                                                <button class="button large comp_type_select_btn">
													SELECT
												</button>
                                            </li>
                                        </ul>
                                    </footer>
                                </article>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
      	<script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="/src/main/resources/static/js/a/a_company.js"></script>
        
    </body>
</html>