@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');


.Calendar_container {
	border: 1px solid black;
    background-color : white;
    height: auto;
    width: 40%;
    margin: 0px;
    padding: 20px;
    margin: 0 auto;
    border-radius:5px;
    box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
    margin-bottom : 5%;
}

td {
    width: 50px;
    height: 50px;
}

.Calendar {
    text-align: center;
}

.Calendar>thead>tr:first-child>td {
    font-family: 'Questrial', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;     
}

.Calendar>tbody>tr>td>p {
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}        

.pastDay {
    color: lightgray;
}

.today {
    background-color: #F5D042;            
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
}
.futureDay:hover{
    background:#eee;
}

.futureDay.choiceDay,
.today.choiceDay {
    background: #0A174E;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

hr{
	width: 60%;
	margin: 0 auto;
	margin-bottom: 2%;
	background-color: black;
}

.schedule_list_box, .form_box {
	width: 60%;
	margin : 0 auto;
	margin-bottom: 5%;
}

.schedule_title{
	font-weight:bold;
	font-size: 1.2rem;
	margin-bottom : 2%;
}
.calendar_date {
	width: 30%;
}
.schedule_contents{
	width: 70%;
}
.sec{
	display:flex;
	justify-content: space-between;
}
.sec > label, button {
	margin : auto 0;
}
.sec > .schedule_content {
	width: 80%;
	height: 20%;
	resize : none;
	border : 1px solid grey;
	border-radius : 10px;
}
.schedule_sec {
	display:flex;
	justify-content: space-between;
}
.schedule_sec > p{
	height : 100%;
	margin : auto 0;
}
