<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ERP lab 클레임</title>
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/webdesign/assets/css/main.css"/>
        <link rel="stylesheet" href="/css/d/claim.css" />
    </head>
    <body>
		<th:block th:insert="~{thymeleaf/common/header::header}"></th:block>

        <div class="claim_container">
            <h2 class="claim_title"><a th:href="@{/d/d51/claim}">클레임(기업)</a></h2>
            <div class="claim_body">
                <div class="claim_regist">
					<table class="claim_search">
						<tr>
							<td>
								<select name="search_type" id="search_type">
									<option value="all" selected}>전체</option>
									<option value="claim_no">코드</option>
									<option value="claim_date">일자</option>
									<option value="client_no">거래처코드</option>
									<option value="claim_manager">담당자</option>
									<option value="cvalue_no">항목코드</option>
									<option value="claim_contents">내용</option>
									<option value="claim_response">응대내용</option>
									<option value="claim_handle">처리여부</option>
								</select>
							</td>
							<td>
								<input type="text" id="search_word" name="word" placeholder="검색어를 입력하세요" autocomplete="off">
								<input type="button" value="전체목록" id="list_reset">
							</td>
						</tr>
					</table>
					<table id="search_result">
                    <table class="claim_list">
                        <tr class="claim_top">
							<th class="sec1">코드</th>
                            <th class="sec2">일자</th>
                            <th class="sec3">담당자</th>
                            <th class="sec4">처리여부</th>
                        </tr>
                        <tr class="claim_items" th:each="claim_item : ${claim_list}">
							<td>[[${claim_item.claim_no}]]</td>
                            <td>[[${claim_item.claim_date}]]</td>
                            <td>[[${claim_item.claim_manager}]]</td>
                            <td>[[${claim_item.claim_handle}]]</td>
                        </tr>
                    </table>
                </div>
                
                <hr class="vertical_line">
                
                <div class="regits_form">
					<div class="warning_box">
						<span class="red bigger">* </span>
						<div class="yellow_box"></div>
						<span class="red">는 필수 입력란입니다.</span>
					</div>
                    <form th:action="@{/d/d51/claim}" method="post" id="claim_frm">
						<input type="hidden" name="claim_no" id="claim_no" th:value="${erp_ClaimVO?.claim_no}"/>
						
						<div class="sec">
                            <label for="claim_date">일자</label>
                            <input
                                type="date"
                                name="claim_date"
                                id="claim_date"
                                th:value="${erp_ClaimVO?.claim_date}"
                            />
                        </div>
                        
              			<div class="sec">
                            <label for="eqkind_name">거래처</label>
                            <div class="client_regist">
                                <input
                                    type="text"
                                    name="client_name"
                                    id="client_name"
                                    placeholder=" 우측 조회버튼으로 확인해주세요."
                                    class="required"
                                    readonly
                                    disabled
                                />
                               <button type="button" id="clientlist_search">                        
									<img th:src="@{/image/searchbtn_icon.png}" alt="search icon">
								</button>
                            </div>
                        </div>

						<input type="hidden" name="client_no" id="client_no" th:value="${erp_ClaimVO?.client_no}">

                	  	<div class="sec">
                            <label for="claim_manager">담당자</label>
                            <input
                                type="text"
                                name="claim_manager"
                                id="claim_manager"
                                class="required"
                                th:value="${erp_ClaimVO?.claim_manager}"
                            />
                        </div>

       		 			<div class="sec">
                            <label for="cvalue_name">항목</label>
                            <div class="cvalue_regist">
                                <input
                                    type="text"
                                    name="cvalue_name"
                                    id="cvalue_name"
                                    placeholder=" 우측 조회버튼으로 확인해주세요."
                                    class="required"
                                    readonly
                                    disabled
                                />
                               <button type="button" id="cvaluelist_search">                        
									<img th:src="@{/image/searchbtn_icon.png}" alt="search icon">
								</button>
                            </div>
                        </div>

						<input type="hidden" name="cvalue_no" id="cvalue_no" th:value="${erp_ClaimVO?.cvalue_no}">

                        <div class="sec">
                            <label for="claim_contents">내용</label>
                            <input
                                type="text"
                                name="claim_contents"
                                id="claim_contents"
                                class="required"
                                th:value="${erp_ClaimVO?.claim_contents}"
                            />
                        </div>
                        
                        <div class="sec">
                            <label for="claim_response">응대내용</label>
                            <input
                                type="text"
                                name="claim_response"
                                id="claim_response"
                                th:value="${erp_ClaimVO?.claim_response}"
                            />
                        </div>
                        
                        <div class="sec">
                            <label for="claim_handle">처리여부</label>
                            <input
                                type="text"
                                name="claim_handle"
                                id="claim_handle"
                                th:value="${erp_ClaimVO?.claim_handle}"
                            />
                        </div>
                       
 						<div class="sec" id="new_btn_sec">
                            <button type="reset">RESET</button>
                            <button type="button" id="claim_save_btn">SAVE</button>
                        </div>
                        <div class="sec" id="old_btn_sec">
							<button type="button" id="claim_delete_btn">DELETE</button>
							<button type="button" id="claim_update_btn">UPDAET</button>
						</div>
						
						<div id="errormsg" th:text="${error}"></div>
                    </form>
                </div>
            </div>
        </div>
        
		<th:block th:insert="~{thymeleaf/common/footer::footer}"></th:block>


     	<script src="/webdesign/assets/js/jquery.min.js"></script>
        <script src="/webdesign/assets/js/browser.min.js"></script>
        <script src="/webdesign/assets/js/breakpoints.min.js"></script>
        <script src="/webdesign/assets/js/util.js"></script>
        <script src="/webdesign/assets/js/main.js"></script>
        <script src="/js/d/d5/claim.js"></script>
        <script th:inline="javascript">
			// 설비/장비 리스트 검색 필터링 기능
			let search_filter = (type,word) => {
				if(word=="" || word==undefined || word==null) return null;
				let searched_list = [];
				let list = [[${claim_list}]];
				
				for(let i = 0 ; i < list.length; i++){
					let json_data = JSON.stringify(list[i]);
					let key_value = json_data.replace("{", "").replace("}", "").replace(/"/gi, "").split(",");
					
					for(let j = 0 ; j < key_value.length; j++) {
						let key = key_value[j].split(":")[0];
						let value = key_value[j].split(":")[1];	
						if (type=="all") {
							if(value==word) searched_list.push(list[i]);
						}
						else {
							if(key==type && value==word) searched_list.push(list[i]);
						}
					}
				}
				return searched_list;
			}
			
			// 설비/장비리스트중 창고 클릭시 데이터값 전달 함수
				let selected_vo = (tag) => {
				let list = [[${claim_list}]];
				let vo_no = tag.innerHTML;
				for(let i = 0 ; i < list.length; i ++){
					if (list[i].claim_no == vo_no){
						document.getElementById("claim_no").value=list[i].claim_no;
						document.getElementById("claim_date").value=list[i].claim_date;
						document.getElementById("eqkind_no").value=list[i].eqkind_no;
						document.getElementById("claim_code").value=list[i].claim_code;
						document.getElementById("claim_name").value=list[i].claim_name;
						document.getElementById("claim_production").value=list[i].claim_production;
						document.getElementById("claim_expiry").value=list[i].eqiupment_expiry;
						document.getElementById("claim_contents").value=list[i].claim_contents;
						document.getElementById("eqgrade_no").value=list[i].eqgrade_no;
						document.getElementById("claim_result").value=list[i].claim_result;
						document.getElementById("claim_revalue").value=list[i].claim_revalue;
						document.getElementById("claim_remark").value=list[i].claim_remark;						
					}
				}
			}
		</script>
    </body>
</html>
