<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>항목조회</title>
    
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/webdesign/assets/css/main.css"/>
    <link rel="stylesheet" href="/css/d/claim.css" />
</head>
<body>
     <div id="wrapper">
            <div id="main">
                <table>
                    <thead>
                        <tr>
                            <th class="client_title">
                                <span>항목조회</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="items">
                            <td>
                                <article class="post" th:each="client_item : ${client_list}">
                                    <header>
                                        <div class="title">
                                            <h2>[[${client_item.client_name}]]</h2>
                                            <p>
												사업자등록번호 : [[${client_item.client_registeredno}]]<br/> 
												법인등록번호 : [[${client_item.client_corporatedno}]]<br/>
												대표자명 : [[${client_item.client_representative}]]<br/>
												사업장 : [[${client_item.client_addr1}]]<br/>
												상세주소 : [[${client_item.client_addr2}]]<br/>
												우편번호 : [[${client_item.client_postal}]]<br/> 
												대표번호 : [[${client_item.client_directno}]]<br/>
												팩스번호 : [[${client_item.client_fax}]] <br/>
												이메일 : [[${client_item.client_email}]]<br/>
												담당자 : [[${client_item.client_manager}]]<br/>
												연락처 : [[${client_item.client_contact}]]<br/>
											</p>
                                            <p class="hidden">[[${client_item.client_no}]]</p>
                                        </div>
                                    </header>
                                    <p class="content"></p>
                                    <footer>
                                        <ul class="actions">
                                            <li>
                                                <button class="button large client_type_select_btn">
													SELECT
												</button>
                                            </li>
                                        </ul>
                                    </footer>
                                </article>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
     	<script src="/webdesign/assets/js/jquery.min.js"></script>
        <script src="/webdesign/assets/js/browser.min.js"></script>
        <script src="/webdesign/assets/js/breakpoints.min.js"></script>
        <script src="/webdesign/assets/js/util.js"></script>
        <script src="/webdesign/assets/js/main.js"></script>
        <script src="/js/d/d5/client_list.js"></script>
</body>
</html>