.warehouse_container {
	padding: 2%;
}

.warehouse_container>.warehouse_title {
	text-align: center;
}

.warehouse_container>.warehouse_body {
	display: flex;
	justify-content: space-between;
}

.warehouse_container>.warehouse_body>.warehouse_regist {
	width: 45%;
	height: 100%;
	overflow: hidden;
}

.warehouse_container>.warehouse_body .vertical_line {
	height: 100vh;
	width: 0.075vw;
	border-width: 0;
	color: #000;
	background-color: rgba(160, 160, 160, 0.4);
}

.warehouse_container>.warehouse_body>.regits_form {
	width: 50%;
	height: 100%;
}

.warehouse_container>.warehouse_body>.regits_form .sec {
	display: flex;
	margin: 2%;
}

.warehouse_container>.warehouse_body>.regits_form .sec>#warehouse_date,
#warehouse_release {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: rgba(160, 160, 160, 0.075);
	border: none;
	border: solid 1px rgba(160, 160, 160, 0.3);
	border-radius: 0;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
}

.warehouse_container>.warehouse_body>.regits_form .sec>label {
	width: 40%;
}

.warehouse_container>.warehouse_body>.regits_form .sec>input:focus,
select:focus {
	border-color: #000b9e;
}

.warehouse_container>.warehouse_body>.regits_form .sec>.goods_regist {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.warehouse_container>.warehouse_body>.regits_form .sec>.company_regist {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.warehouse_container>.warehouse_body>.regits_form button {
	border-color: #000b9e;
	height: 100%;
	width: 15%;
}

.warehouse_container>.warehouse_body>.regits_form .sec>.goods_regist>#goods_name {
	width: 80%;
}
.warehouse_container>.warehouse_body>.regits_form .sec>.company_regist>#company_name {
	width: 80%;
}
.warehouse_container>.warehouse_body>.regits_form .sec>input[type="number"] {
	appearance: none;
	background: rgba(160, 160, 160, 0.075);
	border: solid 1px rgba(160, 160, 160, 0.3);
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
}

.warehouse_container>.warehouse_body>.regits_form button {
	border-color: #000b9e;
}

.post .content {
	font-size: 1.1rem;
}
.warehouse_container>.warehouse_body>.regits_form .sec>.company_regist>#companylist_search {
	line-height: 0;
}

.warehouse_container>.warehouse_body>.regits_form .sec>.company_regist>#companylist_search>img {
	width: 25px;
	height: 25px;
}
.warehouse_container>.warehouse_body>.regits_form .sec>.goods_regist>#goodslist_search {
	line-height: 0;
}

.warehouse_container>.warehouse_body>.regits_form .sec>.goods_regist>#goodslist_search>img {
	width: 25px;
	height: 25px;
}

.goods_title {
	font-size: 2rem;
	color: #000b9e;
	display: flex;
	justify-content: space-between;
}

#goods_no {
	width: 80%;
}

.selected_warehouse_items {
	background-color: #FDECC5 !important;
	color: #000b9e;
	border-left: 1px solid #000b9e !important;
	border-right: 1px solid #000b9e !important;
}

.hidden {
	visibility: hidden;
	position: fixed;
	top: -9999px;
	left: -9999px;
}

.warning_box {
	display: flex;
	justify-content: end;
}

.yellow_box {
	width: 25px;
	height: 15px;
	background-color: yellow;
	line-height: 10pt;
	margin-top: 2.5pt;
}

.red {
	font-size: 10pt;
	color: red;
}

.bigger {
	font-size: 13pt;
}

#old_btn_sec {
	display: none;
}

.required {
	background-color: lightyellow !important;
}